.background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#title {
  text-align: center
}

.input {
  margin: 50px;
}

.output {
  margin: 50px;
}